[user]
	email = mcsinyx@disroot.org
	name = Nguyễn Gia Phong
[diff]
	tool = vimdiff
	guitool = gvimdiff
[github]
	user = McSinyx

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[pull]
	rebase = true
[init]
	defaultBranch = main
