[Unit]
Description=IPFS daemon
After=network.target

[Service]
ExecStart=/home/cnx/.local/share/go/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=default.target
